# Игнорирование папки виртуального окружения
.venv/

# Игнорирование временных файлов и директорий
*.pyc
__pycache__/
*.log

# Игнорирование файлов конфигурации среды
.env

# Игнорирование директорий node_modules и dist в проекте Vue
hotbid_vue/node_modules/
hotbid_vue/dist/

# Игнорирование файлов операционной системы
.DS_Store
Thumbs.db
